.contacts__item {
  display: flex;
  align-items: center;
}

.contacts__text {
  margin: 0;
  display: inline-block;
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__btn {
  display: inline-block;
  margin-left: 15px;
  margin-right: 5px;
  padding: 1px 2px;

  font-size: 12px;

  background-color: rgba(93, 174, 240, 0.9);
  color: white;
  border: 1px solid #757575;
  border-radius: 4px;

  cursor: pointer;
}

.contacts__btn:hover {
  scale: 1.1;
}

.contacts__btn:active {
  background-color: rgba(7, 109, 192, 0.9);
}

.contacts__btn:disabled {
  background-color: grey;
}

.btn__wrapper {
  display: flex;
  align-items: center;
}

.edit__btn {
  background-color: white;
  border: none;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}

.edit__btn:hover {
  scale: 1.2;
}
